::-webkit-scrollbar{
  width: 0px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body, #root{
  height: 100%;
  width: 100%;
}

main{
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #431D30;
  transition-duration: .5s;
}

.Header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  height: 10%;
  width: 92%;
  background: #04151F;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3)
}

.Body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  flex: 1;
  width: 92%;
  background: #121A1E;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3)
}

.Search{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  flex: 1;
  width: 92%;
  background: #121A1E;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3)
}

.Footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  height: 5%;
  width: 92%;
  background: #1F1F1D;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, .7)
}

.Header_Content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.Body_Content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  width: 95%;
}

.Footer_Content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  user-select: none;
}

.Logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.Logo h1{
  user-select: none;
  color: #F84AA7;
  font-size: 50px;
}

.Searchbar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Searchbar_div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .7);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
  border-radius: 15px;
  border: 1px solid #1F1F1D;
}

.Searchbar button{
  background: transparent;
  font-size: 30px;
  outline: none !important;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .7);
}

.Searchbar input{
  background: transparent;
  outline: none;
}

.Cover{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 550px;
  width: 27%;
  border: 7px solid #04151F;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

.Cover h1, .Cover h2, .Cover h3, .Cover h4{
  margin: 2px;
  user-select: none;
  display: flex;
  justify-content: flex-start;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.Cover img{
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3)
}

.Info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 50%;
  user-select: none;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.Info h2{
  margin: 0;
  user-select: none;
}

.Info ul{
  max-height: 425px;
  width: 100%;
  overflow-y: auto;
}

.Info li{
  display: flex;
  align-items: center;
  list-style-type: none;
  min-height: 50px;
  width: 100%;
  margin: 10px 0px 10px 0px;
  background: #04151F;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

.Info li p{
  margin: 10px;
}

#track_id{
  font-weight: 900;
}

#track_name{
  font-weight: 500;
}

#track_artists{
  display: flex;
  color: rgba(255, 255, 255, .3);
  font-weight: 500;
  margin: 0px 0px 0px 5px;
}

#track_artists p{
  margin-right: 5px;
}

span{
  font-weight: 500;
  color: rgba(255, 255, 255, .3);
}

#searchbar{
  height: 50px;
  width: 600px;
  display: flex;
  font-size: 20px;
  padding: 5px 15px 5px 15px;
  font-weight: 900;
  border: none;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .7);
}

.Search ul{
  max-height: 600px;
  width: 100%;
  overflow-y: auto;
}

#list_cover img{
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

#list_cover{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 0px 10px 0px 10px;
}

#list_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 0px 10px 0px 10px;
}

#list_info p{
  margin: 2px;
  font-size: 18px;
}

.Search li{
  height: 200px;
  width: 1000px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

.Search_Content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.artists{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.artists h2, .artists span, .artists p{
  display: inline;
  justify-content: end;
}

.artists span{
  margin-top: 12px;
  margin-right: 5px;
}

.artists #span2{
  margin-top: 3px;
  margin-right: 5px;
}

#artist_name{
  font-weight: 500;
}

#album_name{
  font-weight: 700;
  font-size: 30px !important;
}

#album_year{
  font-weight: 100;
  opacity: .7;
}

.Search_Content li{
  background: #04151F;
  border-radius: 10px;
  margin: 20px 0px 20px 0px;
}

#album_disc{
  display: inline;
  font-weight: 500;
}

#album_disc_number{
  display: inline;
  font-weight: 900;
}

#album_disc_list{
  background: #030e14;
  height: auto;
  width: 100px;
}